<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:switch="${employees}">
        <p th:case="null">No employees</p>
        <div th:case="*">
            <p>Employees</p>
            <table>
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${employees}">
                        <th th:text="${employee.firstName}"></th>
                        <th th:text="${employee.lastName}"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
